<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Pragma" value="no-cache" />
                <add name="Cache-Control" value="max-age=10" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
